@font-face {
  font-family: BrandFont;
  src: url("/fonts/Lobster-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  10% { opacity: 0.6; }
  25% { opacity: 0.7; }
  40% { opacity: 0.8; }
  50% { opacity: 1; }
  60% { opacity: 0.8; }
  75% { opacity: 0.7 ; }
  90% { opacity: 0.6; }
  100% { opacity: 0.5; }
}

#cupcake {
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out; 
  -moz-animation: pulse 3s infinite ease-in-out; 
  animation: pulse 3s infinite ease-in-out;
}
